<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="e229ca73-5354-4e80-b8dd-8a51a412fb35"
    Publisher="CN=i"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="e229ca73-5354-4e80-b8dd-8a51a412fb35" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WinRTServerTest (Package)</DisplayName>
    <PublisherDisplayName>i</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="WinRTServerTest (Package)"
        Description="WinRTServerTest (Package)"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Extensions>
    <!-- Uncomment below if you want to use in-process WinRT server -->
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>WinRTServer\WinRT.Host.dll</Path>
        <ActivatableClass ActivatableClassId="WinRTServer.TestClass" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="WinRTServer.CalcClass" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    
    <!-- Comment below if you want to use in-process WinRT server -->
    <!--<Extension Category="windows.activatableClass.outOfProcessServer">
      <OutOfProcessServer ServerName="WinRTServer" uap5:IdentityType="activateAsPackage" uap5:RunFullTrust="true">
        <Path>WinRTServer\WinRTServer.exe</Path>
        <Instancing>singleInstance</Instancing>
        <ActivatableClass ActivatableClassId="WinRTServer.TestClass" />
        <ActivatableClass ActivatableClassId="WinRTServer.CalcClass" />
      </OutOfProcessServer>
    </Extension>-->
  </Extensions>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
